@import url(./requirements.css);
@import url(./how_block.css);
@import url(./play_block.css);

body {
  background-color: #1b191c;
  font-family: Space Grotesk, sans-serif;
}
#root {
  align-items: center;
  display: flex;
  grid-column-end: span 2;
  grid-column-start: 2;
  grid-row-end: span 3;
  grid-row-start: 1;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  background-color: #1b191c;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}
